
li.sortable.huezlllight-device.no-header{
  min-height: 30px;
}

li.sortable.huezlllight-device label {
  float: left;
}

/* dimmer slider */
ul.items .ui-slider-input{
  display: none;
}

ul.items .huezlllight-device div.item-inner .ui-slider-track {
  margin-left: 22px;
  margin-right: 8px;
}

ul.items .huezlllight-device .ui-slider {
  float: right;
  margin: 1px 4px -1px 5px;
  width: 15em;
}

ul.items .huezlllight-device .ui-dimlevel {
  float: right;
  min-height: 30px;
}

/* Dimlevel slider uses an alpha gradient */
ul.items .huezlllight-device .ui-dimlevel .ui-slider-track {
  background: linear-gradient(to right, rgba(0, 125, 205, 0), rgba(0, 125, 205, 1));
}
ul.items .huezlllight-device .ui-dimlevel .ui-slider-bg {
  background: none;
}

ul.items .huezlllight-device .ui-colorpicker {
  display: inline-block;
  width: 5.875em;
  margin-left: 10px;
  background-clip: padding-box;
  box-shadow: 0px 0px 0px 2px #007dcd;
  border-radius: 3em;
  float: right;
}

/* Spectrum color picker */
ul.items .huezlllight-device .ui-colorpicker div.sp-replacer {
  height: 1.75em;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  background: none;
  padding: 0px;
  min-height: 30px;
}

ul.items .huezlllight-device .ui-colorpicker div.sp-preview {
  width: 94px;
  height: 100%;
  border-color: #007dcd;
  border-radius: 3em;
  border-width: 0px;
}

ul.items .huezlllight-device .ui-colorpicker div.ui-state-disabled {
  box-shadow: 0px 0px 0px 2px silver;
}

ul.items .huezlllight-device .ui-colorpicker div.sp-preview-inner {
  border-radius: inherit;
}

ul.items .huezlllight-device .ui-colorpicker div.sp-dd {
  display: none;
}

ul.items .huezlllight-device div.ui-colorpicker-spacer {
  width: 94px;
  height: 30px;
  margin-left: 10px;
  float: right;
}

/* Color Temp slider uses a gradient */
ul.items .huezlllight-device .ui-color .ui-slider-track {
  background: linear-gradient(to right, hsl(195, 100%, 85%), White, hsl(51, 100%, 85%));
}
ul.items .huezlllight-device .ui-color .ui-slider-bg {
  background: none;
}

ul.items .huezlllight-device .ui-color {
  float: right;
  clear: right;
  min-height: 30px;
  margin-top: 5px;
}
